$primary_color: #ffffff;
$secondary_color: #000000;
$third_color: #3dbeff;
$fourth_color: #fece00;
$five_color: #fe7563;
$six_color: #256c5c;
$seven_color: #1a546f;
$eight_color: #b4b3b6;

$footer_color: #98d9cb;

$barlow: 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;

$breakpoint_tablet: 768px;
$breakpoint_mobile: 480px;

$bg_sectionOne: "../assets/desktop/image-header.jpg";